Yes<input type="radio" [(ngModel)]="answerSearch" value="yes">
<input type="radio" [(ngModel)]="answerSearch" value="all">
<input type="radio" [(ngModel)]="answerSearch" value="no">No
<input [(ngModel)]="stringSearch" placeholder="Recherche" (keyup)="searchQuestions()"/>

<ul #questionsList>
  <div *ngFor="let question of displayedQuestions">
    <div [hidden]="!(answerSearch === 'all' || answerSearch === question.answer)">
      <li>
        <div class="question">
          <p class="asked">{{question.asked}}</p>
          <img src="{{question.image}}" alt="">
        </div>
      </li>
    </div>
  </div>
</ul>

<textarea class="questionInput" rows="2" [(ngModel)]="question.asked" (keyup.enter)="saveQuestion()" autofocus></textarea>
