
<div class="searchInputs">
  <div class="answerSearchInput">
    All<br>Yes<input type="range" [(ngModel)]="answerSearch" value="1" min="0" max="2"/> No
  </div>
  <input class="stringSearchInput" [(ngModel)]="stringSearch" placeholder="Recherche" (keyup)="searchQuestions()"/>
</div>

<ul #questionsList>
  <div *ngFor="let question of displayedQuestions">
    <!-- If the search answer is not set to all or different that the question's answer we do not display this question -->
    <div [hidden]="answerSearch !== 1 && answerSearch !== question.answer">
      <li>
        <div class="question">
          <p class="asked">{{question.asked}}</p>
          <img src="{{question.image}}" alt="">
        </div>
      </li>
    </div>
  </div>
</ul>

<input type="text"
  [(ngModel)]="currentQuestion.asked" 
  (keydown.enter)="saveQuestion()" 
  (keyup.enter)="autoScroll()"/>
