
<div class="searchInputs">
  <div class="answerSearchInput">
    All<br>Yes<input type="radio" [(ngModel)]="answerSearch" value="yes">
    <input type="radio" [(ngModel)]="answerSearch" value="all">
    <input type="radio" [(ngModel)]="answerSearch" value="no"> No
  </div>
  <input class="stringSearchInput" [(ngModel)]="stringSearch" placeholder="Recherche" (keyup)="searchQuestions()"/>
</div>

<ul #questionsList>
  <div *ngFor="let question of displayedQuestions">
    <div [hidden]="!(answerSearch === 'all' || answerSearch === question.answer)">
      <li>
        <div class="question">
          <p class="asked">{{question.asked}}</p>
          <img src="{{question.image}}" alt="">
        </div>
      </li>
    </div>
  </div>
</ul>

<input class="questionInput" 
  [(ngModel)]="question.asked" 
  (keydown.enter)="saveQuestion()" 
  (keyup.enter)="autoScroll()"/>
