.searchInputs
    width: 550px
    margin: auto
    display: inline-block

.answerSearchInput
    width: 250px
    float: left

.stringSearchInput
    width: 150px
    margin-top: 15px
    padding: 3px
    padding-right: 5px
    border-radius: 15px
    text-align: right
    float: right

ul
    overflow-y: scroll
    height: 330px
    width: 550px
    margin: auto
    margin-top: 50px
    margin-bottom: 50px

li
    list-style: none

.question
    width: 500px
    height: 100px
    align-items: center
    margin-bottom: 10px
    
.asked
    background-color: white
    border: solid black 1px
    width: 300px
    height: 70px
    padding: 15px
    margin: 0
    float: left

img
    height: 100%
    width: 150px
    float: right

.questionInput
    width: 20%
    height: 30px
    padding-left: 5px
    font-size: 100%